* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img {
    width: 64px;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    animation: is-bouncing 1s ease alternate infinite;
}

@keyframes is-bouncing {
    to {
        transform: translateX(-50%) translateY(30px)
    }
}